/* *{
	list-style-type: disc;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
.bgg {

	background: gainsboro;
	height: fit-content;
}

.flexx {
	display: grid;
	place-items: center;
	/* padding-left: 30px;
	padding-right: 30px; */



}

.flexx p {
	font-size: xx-larger;
}



.imgg {
	height: 100%;
	width: 100%;
	border-radius: 15px;
	margin-top: 15px;

	box-shadow:
		12.5px 12.5px 12.1px rgba(0, 0, 0, 0.121),
		100px 100px 97px rgba(0, 0, 0, 0.14);
	/* padding: 10px; */
	/* filter: blur(3px);
  -webkit-filter: blur(3px); */
}



.gridd {
	/* place-items: center; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/* gap: 80px; */
	width: 100%;

	height: fit-content;

}



.bio {
	width: 100%;
	overflow-x: auto;


	/* background-color: rgb(79,70,229) ;  */

}


.bio h2 {
	color: rgb(79, 70, 229);
	font-weight: 600;
	font-family: monospace, Arial, Helvetica, sans-serif;
	margin-bottom: 10px;

}

.bio p {
	line-height: 2;
}

.bio-btn {
	margin-top: 20px;

	display: grid;
	place-items: center;

	padding: 1.10rem 1.60rem;
	/* background-color: rgb(79,70,229); */
	background-image: radial-gradient(circle at 99% 0%, rgba(235, 235, 235, 0.03) 0%, rgba(235, 235, 235, 0.03) 50%, rgba(142, 142, 142, 0.03) 50%, rgba(142, 142, 142, 0.03) 100%), radial-gradient(circle at 84% 89%, rgba(229, 229, 229, 0.03) 0%, rgba(229, 229, 229, 0.03) 50%, rgba(1, 1, 1, 0.03) 50%, rgba(39, 38, 38, 0.03) 100%), radial-gradient(circle at 89% 20%, rgba(219, 219, 219, 0.03) 0%, rgba(219, 219, 219, 0.03) 50%, rgba(38, 38, 38, 0.03) 50%, rgba(38, 38, 38, 0.03) 100%), radial-gradient(circle at 90% 0%, rgba(48, 48, 48, 0.03) 0%, rgba(48, 48, 48, 0.03) 50%, rgba(109, 109, 109, 0.03) 50%, rgba(109, 109, 109, 0.03) 100%), linear-gradient(45deg, rgb(79, 70, 229), rgb(73, 67, 179));
	/* background-color: rgb(79,70,229)  ; */
	color: white;
	/* border-radius: 50%; */
}


.guide{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 30px;
	width: 100%;
	place-items: center;
	/* height: 50%; */

	/* height: fit-content; */

}

.g-img{
	border-radius: 15px;
	cursor: pointer;
	

	box-shadow:
		12.5px 12.5px 12.1px rgba(0, 0, 0, 0.121),
		100px 100px 97px rgba(0, 0, 0, 0.14);
	
	
}

.guide p{
	/* font-weight: bold; */
	font-size: 16px;
}

.trusted {
	/* display: flex;
	justify-content: center; */

	font-size: xx-large;
	
	line-height: 3;
}

.marque {
	margin-left: 5px;
	display: flex;
	gap: 30px;
	background-color: gainsboro;
	padding: 15px;

}


@media only screen and (max-width:1024px){
	.flexx{
		font-size: 25px;
		padding: 20px;

	}
	.trusted{
		font-size: 25px;
	}

}
